* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 240px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 45px;
}
.logo img {
  width: 86px;
  height: 40px;
  flex-shrink: 0;
}
.logo h2 {
  color: #0b0223;
  font-size: 45px;
}
.nav li {
  list-style: none;
}
.nav a {
  text-decoration: none;
  margin-right: 32px;
  color: #3c354f;
  font-size: 18px;
}
.social-btn {
  color: #3c354f;
  font-size: 18px;
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.fa-youtube {
  color: #f61c0d;
}
.fa-tiktok {
  background: linear-gradient(to right, #000000, #f00044, #08fff9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
        /* banner section */
.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 240px;
}
.banner-contains{
    width: 50%;
}
.banner-pic{
    width: 50%;
}
.banner-pic-2nd{
    display: flex;
}
.banner-img-1{
    width: 100%;
}
.banner-img-2{
    width: 40%;
}
.banner-img-3{
    width: 300px;
    height: 175px;
}
/* responsive css for mobile  */
@media screen and (max-width: 576px) {
  .header-container {
    flex-direction: column;
    box-shadow: none;
    padding: 10px 100px;
  }
  .logo {
    gap: 10px;
  }
  .nav {
    margin: 60px 0;
    text-align: center;
  }
  .nav a {
    margin: 0 20px;
  }
  .social-btn {
    margin-top: 60px;
  }
}
/* responsive css for tablet */
@media screen and (min-width: 576px) and (max-width: 960px) {
  .header-container {
    flex-direction: column;
    box-shadow: none;
    padding: 10px 100px;
  }
  .nav {
    margin: 40px 0;
  }
}
