* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 240px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 45px;
}
.logo img {
  width: 86px;
  height: 40px;
  flex-shrink: 0;
}
.logo h2 {
  color: #0b0223;
  font-size: 45px;
}
.nav li {
  list-style: none;
}
.nav a {
  text-decoration: none;
  margin-right: 32px;
  color: #3c354f;
  font-size: 18px;
}
.social-btn {
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
}
.fa-youtube {
  color: #f61c0d;
}
.fa-tiktok {
  background: linear-gradient(to right, #000000, #f00044, #08fff9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
